@charset "UTF-8";
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  line-height: 1.4;
  font-size: 18px;
  font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
  font-weight: lighter;
}

.sr-only {
  display: none;
}

.navOpener {
  position: absolute;
  left: 0;
  top: 50%;
  background-color: rgba(0, 15, 0, 0.2);
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px 10px;
  font-size: 20px;
  color: #eee;
  z-index: 10000;
}
.navOpener:hover {
  cursor: pointer;
  background-color: rgba(0, 15, 0, 0.6);
}

.navCloser {
  position: absolute;
  right: 0;
  top: 50%;
  background-color: rgba(0, 15, 0, 0.6);
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 20px 10px;
  font-size: 20px;
}
.navCloser:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
}

.navClosed {
  display: none;
}

.hide {
  display: none;
}

header#navigation {
  position: absolute;
  z-index: 1000;
  max-width: 300px;
  width: 60%;
  height: 100%;
  overflow: scroll;
  color: #eee;
  background-color: transparent;
}
header#navigation h1 {
  font-size: 18px;
  margin: 0;
  background-color: rgba(0, 15, 0, 0.6);
}
header#navigation ul {
  background-color: rgba(0, 15, 0, 0.36);
  margin: 0;
  padding: 0;
  list-style: none;
}
header#navigation ul li.active {
  background-color: rgba(0, 15, 0, 0.8);
}
header#navigation ul li.selectable {
  color: #d5d5d5;
}
header#navigation ul li.selectable:hover {
  background-color: rgba(0, 15, 0, 0.8);
}
header#navigation ul li.selectable:hover a {
  color: #eee;
}
header#navigation ul a {
  display: inline-block;
}
header#navigation ul a.selectable {
  cursor: pointer;
}
header#navigation ul a.active {
  color: #eee;
}
header#navigation ul span.nav-size {
  font-size: 13.5px;
  color: #a2a2a2;
}
header#navigation ul span.nav-size:before {
  content: '[';
}
header#navigation ul span.nav-size:after {
  content: ']';
}
header#navigation table {
  background-color: rgba(0, 15, 0, 0.36);
  display: inline-block;
  width: 100%;
  padding: 1em;
}

ul.stylers {
  padding: 1em;
}
ul.stylers li {
  padding-bottom: .5em;
}
ul.stylers li:last-child {
  padding-bottom: 0;
}

li.konosai {
  padding: 1em;
  background-color: rgba(0, 15, 0, 0.6);
}

div#content {
  position: static;
  z-index: 0;
  width: 100%;
  height: 100%;
}
div#content > div {
  height: 100%;
}
div#content ng-map {
  height: 100%;
}
