@charset "UTF-8";
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  line-height: 1.4;
  font-size: 18px;
  font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
  font-weight: 100;
}

.sr-only {
  display: none;
}

.nav_opener {
  position: absolute;
  top: 50%;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 30px 10px;
  font-size: 20px;
  color: #eee;
  z-index: 10000;
  left: 0;
  background-color: rgba(0, 15, 0, 0.36);
}
.nav_opener:hover {
  cursor: pointer;
}
.nav_opener:hover {
  background-color: rgba(0, 15, 0, 0.6);
}

.nav_closer {
  position: absolute;
  top: 50%;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 30px 10px;
  font-size: 20px;
  color: #eee;
  z-index: 10000;
  left: 280px;
  background-color: rgba(0, 15, 0, 0.6);
}
.nav_closer:hover {
  cursor: pointer;
}
.nav_closer:hover {
  background-color: rgba(0, 15, 0, 0.8);
}

.hide {
  display: none;
}

header#navigation {
  position: absolute;
  z-index: 1000;
  width: 280px;
  height: 100%;
  overflow: scroll;
  color: #eee;
  background-color: transparent;
}
header#navigation h1 {
  font-size: 18px;
  margin: 0;
  padding: .6em .5em .4em .5em;
  background-color: rgba(0, 15, 0, 0.8);
}
header#navigation h1 a {
  color: #eee;
  text-decoration: none;
}
header#navigation ul {
  background-color: rgba(0, 15, 0, 0.36);
  margin: 0;
  padding: 0;
  list-style: none;
}
header#navigation ul li.active {
  background-color: rgba(0, 15, 0, 0.8);
}
header#navigation ul li.selectable {
  color: #d5d5d5;
}
header#navigation ul li.selectable:hover {
  background-color: rgba(0, 15, 0, 0.8);
}
header#navigation ul li.selectable:hover a {
  color: #eee;
}
header#navigation ul a.npitem {
  display: inline-block;
  padding: .2em .5em .1em .5em;
}
header#navigation ul a.npitem.selectable {
  cursor: pointer;
}
header#navigation ul a.npitem.active {
  color: #eee;
}
header#navigation table.legend {
  background-color: rgba(0, 15, 0, 0.36);
  display: inline-block;
  padding: 1em;
  display: block;
}
header#navigation table.legend td {
  font-size: 13.5px;
}
header#navigation table.legend td:first-child {
  padding: 0.2em;
  border: 1px solid white;
}
header#navigation ul.stylers {
  list-style: none;
  font-size: 13.5px;
}
header#navigation ul.stylers li {
  display: block;
  list-style: none;
  padding: .5em .5em .5em 1em;
}
header#navigation ul.stylers label {
  display: inline-block;
  margin-right: 10px;
  width: 60px;
}
header#navigation ul.stylers input {
  display: inline-block;
}
header#navigation ul.stylers input#opacity {
  width: 90px;
}
header#navigation ul.stylers input#line-color {
  width: 45px;
}
header#navigation ul.stylers input#line-width {
  width: 45px;
  text-align: right;
}
header#navigation li.about {
  padding: 1em;
  background-color: rgba(0, 15, 0, 0.36);
}
header#navigation li.about h2 {
  font-size: 18px;
}
header#navigation li.about p {
  font-size: 13.5px;
}
header#navigation li.about a {
  color: #eee;
}

div#content {
  position: static;
  z-index: 0;
  width: 100%;
  height: 100%;
}
div#content > div {
  height: 100%;
}
div#content ng-map {
  height: 100%;
}
