@import "compass";
@import "compass/css3/transition";
@import "compass/css3/box-shadow";
@import "compass/css3/transform";

$font-size1 : 18px;
$font-size2 : 14px;
$font-color1 : #efefee;
$base-color1: #0f0f00;

@mixin sidebar-animation {
	@include transition-duration(.4s);
	transition-timing-function: ease;
}

html, body {
	margin:0;
	padding:0;
	height: 100%;
	position: relative;
	line-height:1.4;
	font-size: $font-size1;
	font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
    font-weight: 100;
}

.sr-only {
	display:none;
}

$navbar-max-width: 280px;


@mixin basic-button-appearance {
	position:absolute;
	display:block;
	margin:auto 0;
	@include border-top-right-radius(6px);
	@include border-bottom-right-radius(6px);
	font-size: 20px;
	color:$font-color1;
	z-index:10000;
	@include sidebar-animation;
	&:hover{
		cursor:pointer;
		svg {
			opacity:.6;
		}
	}
}

@mixin nav-toggle-button-appearance {
	@include basic-button-appearance;
	top:0;
	bottom:0;
	height:30px;
	padding: 30px 4px;
}

.nav-toggler_on_nav-close{
	@include nav-toggle-button-appearance;
	left:0;
	@include background(linear-gradient(left,rgba($base-color1, .36), rgba($base-color1, .6)));
	svg {
		@include rotate(180deg);
	}
	&:hover{
		@include background(linear-gradient(left,rgba($base-color1, .6), rgba($base-color1, .72)));
	}
}

.nav-toggler_on_nav-open {
	@include nav-toggle-button-appearance;
	left:$navbar-max-width; //stick to navigation
	@include background(linear-gradient(left,rgba($base-color1, .6), rgba($base-color1, .72)));
	&:hover {
		@include background(linear-gradient(left,rgba($base-color1, .6), rgba($base-color1, .9)));
	}
}

@mixin my_location-button-appearance {
	@include basic-button-appearance;
	//display:none;//this function havenot been released
	top:0;
	bottom:150px;
	height:30px;
	padding: 8px 5px 10px 3px;
}

.my_location_on_open{
	@include my_location-button-appearance;
	left:0;
	@include background(linear-gradient(left,rgba($base-color1, .36), rgba($base-color1, .6)));
	&:hover{
		@include background(linear-gradient(left,rgba($base-color1, .6), rgba($base-color1, .72)));
	}
}

.my_location_on_close {
	@include my_location-button-appearance;
	left:$navbar-max-width; //stick to navigation
	@include background(linear-gradient(left,rgba($base-color1, .6), rgba($base-color1, .72)));
	&:hover {
		@include background(linear-gradient(left,rgba($base-color1, .6), rgba($base-color1, .9)));
	}
}


@mixin pin-button-appearance {
	@include basic-button-appearance;
	top:150px;
	bottom:0;
	height:30px;
	padding: 8px 5px 10px 3px;
}

.pin_button_on_open{
	@include pin-button-appearance;
	left:0;
	@include background(linear-gradient(left,rgba($base-color1, .36), rgba($base-color1, .6)));
	&:hover{
		@include background(linear-gradient(left,rgba($base-color1, .6), rgba($base-color1, .72)));
	}
}

.pin_button_on_close {
	@include pin-button-appearance;
	left:$navbar-max-width; //stick to navigation
	@include background(linear-gradient(left,rgba($base-color1, .6), rgba($base-color1, .72)));
	&:hover {
		@include background(linear-gradient(left,rgba($base-color1, .6), rgba($base-color1, .9)));
	}
}


header {
	height:100%;
	position:absolute;
	display:block;
	z-index:1000;
	width:$navbar-max-width;
	@include sidebar-animation;
	&.nav_open {
		left:0;
	}
	&.nav_close {
		left:-1 * $navbar-max-width;
	}
}


nav#navigation {
	position:relative;
	display:block;
	z-index:1000;
	height:100%;
	overflow:scroll;
	color: $font-color1;
	@include border-top-right-radius(2px);
	@include border-bottom-right-radius(2px);

	h1 {
		font-size: $font-size1;
		margin:0;
		padding: .5em .5em .2em .5em;
		color: $font-color1;
		background-color: rgba($base-color1, .6);
		a {
			color: $font-color1;
			text-decoration: none;
		}
	}

	ul#mainMenu {
		margin:0;
		padding:0;
		list-style:none;

		ul.nplist {
			padding:0;
			li {
				&.active {
					@include background(linear-gradient(left,rgba($base-color1, .8), rgba($base-color1, 0)));
				}
				&.selectable {
					color: darken($font-color1, 10%);
					&:hover {
						@include background(linear-gradient(left,rgba($base-color1, .8), rgba($base-color1, 0)));
						a {
							color: $font-color1;
						}
					}
				}
				a.npitem {
					display: block;
					padding: .2em .5em .1em .5em;
					background-color: rgba($base-color1, .6);
					&.selectable {
						cursor:pointer;
					}
					&.active {
						color: $font-color1;
					}
				}
			}
		}

		// xxk国立公園 [yy kB]
		// span.nav-size {
		// 	font-size: $font-size2;
		// 	color: darken($font-color1, 30%);
		// 	&:before {content:'[';}
		// 	&:after {content:']';}
		// }

	}

	table.legend {
		background-color: rgba($base-color1, .6);
		display: inline-block;
		padding:1em;
		display:block;
		th.grade {
			position:absolute;
			float:right;
			font-size: $font-size1;
			padding:0.2em 0.5em;
			font-weight: 100;
			margin-left:35px;

		}
		td.color-template-background {
			display:block;
			float:left;
			@include border-radius(3px);
			border: 1px solid rgba($base-color1, .36);
			background-color: #fff;
			padding:0;
			.color-template {
				display:block;
				position:relative;
				top:0;
				bottom:0;
				right:0;
				left:0;
				margin:auto;
				padding: -1;
				font-size:0;
				height:20px;
				width:20px;
			}
		}
	}

	form#styleForm {
		background-color: rgba($base-color1, .6);
	}

	ul.stylers {
		list-style:none;
		font-size: $font-size1;
		padding:0;
		li {
			display: block;
			list-style:none;
			padding: .5em .5em .5em 1em;
		}
		label {
			display:inline-block;
			margin-right: 10px;
			width: 80px;
			&:hover {
				cursor:pointer;
			}
		}
		input {
			display: inline-block;
			&:hover {
				cursor:pointer;
			}
			&#opacity {
				width: 90px;
			}
			&#line-color {
				width: 60px;
				height: 20px;
				background-color: rgba($base-color1, .2);
				border: 1px solid rgba($base-color1, .36);
				@include border-radius(3px);
				padding: 1px 8px;
			}
			&#line-width {
				width: 60px;
				height: 20px;
				text-align: right;
				color: $font-color1;
				font-size: $font-size2;
				background-color: rgba($base-color1, .2);
				border: 1px solid rgba($base-color1, .36);
				@include border-radius(3px);
				padding: 1px 5px 1px 11px;
			}
		}
		span.style-unit {
			font-size: $font-size2;
		}
	}

	li.about {
		padding: 1em;
		background-color: rgba($base-color1, .6);
		h2 {
			font-size: $font-size1;
		}
		p.text {
			margin-bottom: 0;
			font-size: $font-size2;
			a {
				color :$font-color1;
			}
		}
		p.icons {
			text-align:right;
			margin:0;
			a {
				text-decoration: none;
				&:hover {
						opacity: .6;
				}
			}
		}
	}
}

div#content {
	position:static;
	z-index:0;
	width:100%;
	height:100%;
	&>div {
		height:100%
	}
	ng-map {
		height:100%;
	}
}
