@import "compass";
$fs : 18px;
$fc : #eee;

html, body {
	margin:0;
	padding:0;
	height: 100%;
	position: relative;
	line-height:1.4;
	font-size: $fs;
	font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
    font-weight: lighter;
}

.sr-only {
	display:none;
}

.navOpener{
	position:absolute;
	left:0;
	top:50%;
	background-color: rgba(#000f00, .2);
	@include border-top-right-radius(10px);
	@include border-bottom-right-radius(10px);
	padding: 30px 15px;
	font-size: 30px;
	color:$fc;
	z-index:10000;
	&:hover{
		cursor:pointer;
		background-color: rgba(#000f00, .6);
	}
}
.navCloser {
	position:absolute;
	right:0;
	top:50%;
	background-color: rgba(#000f00, .6);
	@include border-top-left-radius(10px);
	@include border-bottom-left-radius(10px);
	padding: 30px 15px;
	font-size: 30px;
	&:hover {
		cursor:pointer;
		background-color: rgba(#fff, .2);
	}
}

.hide {
	display: none;
}

header#navigation {
	position:absolute;
	z-index:1000;
	max-width:300px;
	width:90%;
	height:100%;
	overflow:scroll;
	color: $fc;
	background-color: rgba(#000,0);

	h1 {
		font-size: $fs;
		margin:0;
		padding: 0.5em;
		background-color: rgba(#000f00, .6);
		a {
			color: $fc;
		}
	}
	ul {
		background-color: rgba(#000f00, .36);
		margin:0;
		li.active {
			background-color: rgba(#000f00, .8);
		}
		li.selectable {
			color: darken($fc, 10%);
			&:hover {
				background-color: rgba(#000f00, .8);
				a {
					color: $fc;
				}
			}
		}
		a {
			display: inline-block;
			padding: .2em .5em .1em .5em;
			&.selectable {
				cursor:pointer;
			}
			&.active {
				color: $fc;
			}
		}
		padding:0;
		list-style:none;
		span.nav-size {
			font-size: $fs * .75;
			color: darken($fc, 30%);
			&:before {content:'[';}
			// &_value {}
			// &_unit {}
			&:after {content:']';}
		}
	}
	table {
		background-color: rgba(#000f00, .36);
		display: inline-block;
		padding:1em;
		display:block;
		td:first-child {
			font-size: $fs * .75;
			padding:0.2em;
			border:1px solid white;
		}
	}

}

ul.stylers {
	li {
		padding-left:.5em;
		padding-bottom:.5em;
	}
	font-size: $fs * .75;
}

li.konosai {
	padding: 1em;
	background-color: rgba(#000f00, .36);
	a {
		color :$fc;
	}
}

div#content {
	position:static;
	z-index:0;
	width:100%;
	height:100%;
	&>div {
		height:100%
	}
	ng-map {
		height:100%;
	}
}
