<!DOCTYPE html>
<html lang="ja" ng-app="nationalpark-map">
  <head>
    <meta charset="UTF-8">
    <title>国立公園区域オンラインマップ</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="apple-touch-icon" href="./img/apple-touch-icon.png">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCaIyiWRQe5ZjR1MPAWev0o_j9QPbTsM8E&sensor=true"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-route.min.js"></script>
    <script src="http://d3js.org/topojson.v1.min.js"></script>
    <script src="js/app.js"></script>
    <style>
      div#map {
        width:500px;
        height:500px;
        border:1px black solid;
      }
    </style>
  </head>
  <body ng-controller="mainCtrl">
    <header>
      <h1>国立公園区域オンラインマップ</h1>
      <nav>
        <p ng-hide="nps">http error</p>
        <ul id="#mainMenu">
          <li>
            <h2>国立公園を選択</h2>
            <ul ng-show="nps" id="npList">
              <li ng-repeat="(id, np) in nps">
                <a ng-href="select-tmp.html#/{{id}}" ng-click="onSelect(id)">{{np.name}}国立公園</a> [{{np.size}} {{np.unit}}]
              </li>
            </ul><!--ul#npList-->
          </li>
          <li>
            <h2>トラッキング</h2>
            <form>
              <input type="checkbox" id="tracking" ng-model="tracking">
              <label for="tracking">トラッキングを有効にする</label>
            </form>
          </li>
          <li>
            <h2>透明度</h2>
            <form>
              <input id="opacity-range" type="range" min="0" max="1" value="0.4" step="0.01" ng-model="opacity" ng-init="opacity=0.4">
              <span>[{{opacity * 100 | number:0}}%]</span>
            </form>
          </li>
          <li>
            <h2>このサイトについて</h2>
            <p>
              このサイト「国立公園区域オンラインマップ」は、<a href="http://www.biodic.go.jp/trialSystem/top.html">自然環境情報GIS</a> <a href="http://www.biodic.go.jp/trialSystem/info/nps.html">国立公園の区域等</a>（<a href="http://www.biodic.go.jp/">環境省生物多様性センター</a>）のデータを加工し作成したものです。<br />
              国立公園のポリゴンデータには、<a href="http://www.biodic.go.jp/copyright/index.html">政府標準利用規約（第1.0版）</a>が適用されています。<br />
              このサイトに表示される公園区域は、あくまで目安に留めておくことをお勧めします。正確な国立公園の区域や地種区分等を調べる場合は、当該国立公園を所管する環境省の自然保護官事務所等に問い合わせを行うことをお勧めします。
            </p>
          </li>
        </ul><!--mainMenu-->
      </nav>
    </header>
    <p>{{selected}}</p>
    <div id="map"></div>
  </body>
</html>
